<mat-toolbar color="primary" class="navbar">
  <mat-menu #appMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Pending Appointments</button>
    <button mat-menu-item>Completed Appointments</button>
  </ng-template>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>


<div>Doctor Page</div>
<div>
  <span></span>
  <span></span>
  <span></span>
</div>



</mat-toolbar>

<div>
<button (click)="addAppointmentByPatient()">Add</button>
</div>

<div>
  <button (click)="updateStatusByDoctor()">Update Status</button>
</div>
<div>
  <button (click)="updateNurseIdByNurse()">Update NurseId</button>
</div>
<!-- <mat-sidenav-container >
  <mat-sidenav #sidenav mode="side" (opened) = "log('opened')" (closed) = "log('closed')">
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content>Main
    <button class="btn btn-primary" (click)="openSideNav()">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!--
<div>
  <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
      <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>

      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management A</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management B</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management C</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management X</h4>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
    </div>
  </mat-drawer-container>
</div> -->
