<p class="nav">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" title="icon">
        <mat-icon>local_hospital</mat-icon>
      </button>
      <span>Hospital Management System</span>
      <span class="example-spacer"></span>
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
      <a routerLink="/dashboard" style="text-decoration: none; color: white;"><button mat-button>DashBoard</button></a>
      <a routerLink="/healthinfo" style="text-decoration: none; color: white;"><button mat-button>Health Info</button></a>
      
    </mat-toolbar>
  </p>
  <h1>DashBoard</h1>
