<div class="parent">
  <mat-toolbar color="primary">
    <button matTooltip="Menu" mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>HMS</span>
    <span class="example-spacer"></span>
    <!-- <button (click)="goToPage('home')" mat-icon-button matTooltip="Home" class="example-icon favorite-icon"
      >
      <mat-icon>home</mat-icon>
    </button> -->
    <div *ngIf="flag === true">
      <button (click)="logout()" mat-icon-button matTooltip="Logout" class="example-icon favorite-icon"
        >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <div *ngIf="flag === false">
      <button (click)="loginWithRedirect()" mat-icon-button matTooltip="Management Login" class="example-icon favorite-icon"
        >
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
<!-- <router-outlet></router-outlet> -->

