<p class="nav">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>local_hospital</mat-icon>
      </button>
      <span>Hospital Management System</span>
      <span class="example-spacer"></span>
      <a routerLink=" " style="color: white;"><button mat-icon-button class="example-icon favorite-icon" title="Patient_Registration" aria-label="Example icon-button with app-registration icon">
        <mat-icon>Dashboard</mat-icon>
      </button></a>
      <a routerLink=" " style="color: white;"><button mat-icon-button class="example-icon" title="Patient_Login" aria-label="Example icon-button with login icon">
        <mat-icon>HealthInfo</mat-icon>
      </button></a>
    </mat-toolbar>
  </p>
  <br>
