<div class="nav">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button matTooltip="go back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-dialog-content>
          Name : Parker
        </div>
        <div> Email : parker@gmail.com
        </div>
      </mat-menu>
    </mat-toolbar>
  </p>
</div>

<div>
    <h1 style="text-align: center;">Add basic Health Record for patient</h1>
</div>
<form class="updateform" [formGroup]="updateform" (ngSubmit)="update()" >
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Blood Pressure</mat-label>
      <input matInput formControlName="bp" placeholder="Ex. 120/80">
      <mat-error *ngIf="bp && bp.invalid && (bp.dirty || bp.touched)" style="white-space: nowrap;">
        <span *ngIf="bp.errors?.['required']">Blood Pressure is required. </span>
        <span *ngIf="bp.errors?.['pattern']">Blood Pressure should be in the format of '120/80'.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width" >
      <mat-label>Heart Rate</mat-label>
      <input matInput formControlName="rate" placeholder="60 - 120">
      <mat-error *ngIf="rate &&rate.invalid && (rate.dirty || rate.touched)" style="white-space: nowrap;">
        <span *ngIf="rate.errors?.['required']">Heart Rate is required. </span>
        <span *ngIf="rate.errors?.['pattern']">Heart Rate should be between 60 and 120.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>SpO2</mat-label>
      <input matInput formControlName="spo2" placeholder="90% - 100%">
      <mat-error *ngIf="spo2 && spo2.invalid && (spo2.dirty || spo2.touched)" style="white-space: nowrap;">
        <span *ngIf="spo2.errors?.['required']">SpO2 is required. </span>
        <span *ngIf="spo2.errors?.['pattern']">SpO2 should be between 90% and 100%.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Allergies</mat-label>
      <mat-select [formControl]="toppings"  multiple>
        <mat-select-trigger>
          {{toppings.value?.[0] || ''}}
          <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        <!-- <mat-error *ngIf="toppings && toppings.invalid && (toppings.dirty || toppings.touched)" style="white-space: nowrap;">
          <span *ngIf="toppings.errors?.['required']">Allergies are a required field. </span>
          <span *ngIf="temp.errors?.['pattern']">Blood Group should be in the format like 37.1.</span>
        </mat-error> -->
      </mat-select>

      <!-- <mat-error *ngIf="allergies && allergies.invalid && (allergies.dirty || allergies.touched)" style="white-space: nowrap;">
        <span *ngIf="allergies.errors?.['required']">Allergies are a required field. </span>
        <span *ngIf="temp.errors?.['pattern']">Blood Group should be in the format like 37.1.</span>
      </mat-error> -->

    </mat-form-field>
  </div>
    <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" placeholder="in cm">
      <mat-error *ngIf="height && height.invalid && (height.dirty || height.touched)" style="white-space: nowrap;">
        <span *ngIf="height.errors?.['required']">Height is required. </span>
        <span *ngIf="height.errors?.['pattern']">Enter a valid height.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" placeholder="in kgs">
      <mat-error *ngIf="weight && weight.invalid && (weight.dirty || weight.touched)" style="white-space: nowrap;">
        <span *ngIf="weight.errors?.['required']">weight is required. </span>
        <span *ngIf="weight.errors?.['pattern']">weight should be in kgs.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Body Temperature</mat-label>
      <input matInput formControlName="temp" placeholder="in °C">
      <mat-error *ngIf="temp && temp.invalid && (temp.dirty || temp.touched)" style="white-space: nowrap;">
        <span *ngIf="temp.errors?.['required']">Body Temperature is required. </span>
        <span *ngIf="temp.errors?.['pattern']">Blood Group should be in the format like 37.1.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Blood Group</mat-label>
      <mat-select disableRipple formControlName="bloodgroup">

        <mat-option value="1">O+</mat-option>
        <mat-option value="2">O-</mat-option>
        <mat-option value="3">A+</mat-option>
        <mat-option value="1">A-</mat-option>
        <mat-option value="2">B+</mat-option>
        <mat-option value="3">B-</mat-option>
        <mat-option value="3">AB+</mat-option>
        <mat-option value="3">AB-</mat-option>
      </mat-select>
      <mat-error *ngIf="bloodgroup && bloodgroup.invalid && (bloodgroup.dirty || bloodgroup.touched)" style="white-space: nowrap;">
        <span *ngIf="bloodgroup.errors?.['required']">Blood group is required field. </span>
        <!-- <span *ngIf="temp.errors?.['pattern']">Blood Group should be in the format like 37.1.</span> -->
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" id="but"  [disabled]="!updateform.valid" (click)="updateNurseIdByNurse()">submit</button>
  </div>
</form>
