/* .health-cards{
    position: relative;
    width : 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
} */

.health-cards{
    margin-top: 3rem;
}

.card-grp{
    margin-top: 2rem;
    width: fit-content;
    margin: auto;
    display: flex;
}

.example-spacer {
    flex: 1 1 auto;
  }

.test-fields{
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}


