<p class="nav">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" title="icon">
        <mat-icon>local_hospital</mat-icon>
      </button>
      <span>Hospital Management System</span>
      <span class="example-spacer"></span>
      <a routerLink="/register" style="color: white;"><button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with app-registration icon" title="patient registration">
        <mat-icon>app_registration</mat-icon>
      </button></a>
      <a routerLink="/login" style="color:white;"><button mat-icon-button class="example-icon" aria-label="Example icon-button with login icon" title="patient_login">
        <mat-icon>login</mat-icon>
      </button></a>
    </mat-toolbar>
  </p>
  <br>
  <mat-card>
    <mat-card-content><h1>Login</h1></mat-card-content>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. mike@gmail.com" required >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. Mike@123" required >
      </mat-form-field>
       <div class="example-full-width">
    
      <button mat-raised-button color="primary" class="example-full-width" >Submit</button><p>New user? Register here<a routerLink="/register">register</a> </p>
      </div>
  </mat-card>
  <a routerLink="/patientbasicrecord">patient basic record</a> <br>
<a routerLink="/dashboard"> Patientdashboard</a>

  <router-outlet></router-outlet>