<app-home-nav></app-home-nav>
<div class="container">
  <h1>Patient Login</h1>
  <div>
    <mat-form-field class="mat-field" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="mat-field" appearance="outline">
      <mat-label >Enter your password</mat-label>
      <input class="input-field" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>  
  </div>
  <div>
    <button class="mat-field" mat-stroked-button color="accent">Login</button>
  </div><br>
  <div style="color: gray;">
    <p>
      New user?
      <a style="text-decoration: none; cursor: pointer; text-decoration: underline;" routerLink="register">Register here</a>
    </p>
  </div>
</div>
