.container{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 1rem;
    background-color: rgb(19, 19, 19);
    border-radius: 1rem;
    border: 1px solid gray;
}
input{
    background-color: black;
}
.container > div{
    width: fit-content;
    margin: auto;
}

.mat-field{
    width: 300px;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar.mat-primary {
    background: green;
    color: #fff;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: green;
    --mdc-protected-button-label-text-color: #fff;
}



.example-full-width
{
    padding:3%
}
