<!-- <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

<div class="pri">
  <p class="doc">Appointment Booking</p>
  <br>
  
    <p class="dc">
    <mat-form-field appearance="fill">
        <mat-label>Choose Doctor</mat-label>
        <mat-select>
            <mat-option *ngFor="let d of doc" [value]="d.value">
            {{d.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </p>
    <br>
    <p class="date">
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </p>
</div>
<button mat-button color="primary" class="col">Cancel</button>
<button mat-button color="primary" class="col">Book</button>
  